body {
    font-family: 'Lato';
    font-weight: 200px;
}

#click {
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    display: none;
}

#clock, #date {
    text-align: center;
    display: none;
}
#nowTime {
    font-family: monospace;
    font-size: 25px;
}
